<!DOCTYPE html>
<html ng-app="Base">
<head>
    <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
</head>
<body class="background">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/core")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/login/routers")
    @Scripts.Render("~/bundles/login/controllers")
</body>
</html>
